---
http_interactions:
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>711806200498407</Card_Number>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>05</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<Response><Response_Code>00</Response_Code><Response_Text>748418</Response_Text><Auth_Reference>0043</Auth_Reference><Amount_Balance>940.23</Amount_Balance><Expiration_Date>021935</Expiration_Date><Trans_Date_Time>022415070522</Trans_Date_Time><Card_Number>711806200498407</Card_Number><Transaction_ID>1</Transaction_ID></Response>"
  recorded_at: Tue, 24 Feb 2015 14:05:25 GMT
- request:
    method: post
    uri: http://httpbin.org/post
    body:
      encoding: UTF-8
      string: '{"key":"value"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"args\": {}, \n  \"data\": \"{\\\"key\\\":\\\"value\\\"}\", \n
        \ \"files\": {}, \n  \"form\": {}, \n  \"headers\": {\n    \"Accept\": \"*/*;
        q=0.5, application/xml\", \n    \"Accept-Encoding\": \"gzip, deflate\", \n
        \   \"Content-Length\": \"15\", \n    \"Content-Type\": \"application/json\",
        \n    \"Host\": \"httpbin.org\", \n    \"User-Agent\": \"Ruby\"\n  }, \n  \"json\":
        {\n    \"key\": \"value\"\n  }, \n  \"origin\": \"184.75.193.46\", \n  \"url\":
        \"http://httpbin.org/post\"\n}\n"
  recorded_at: Tue, 24 Feb 2015 14:05:25 GMT
recorded_with: VCR 2.9.3
