---
http_interactions:
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>711806200498407</Card_Number>
          <Transaction_Amount>1</Transaction_Amount>
          <Transaction_ID>1</Transaction_ID>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>01</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<Response><Response_Code>00</Response_Code><Response_Text>855412</Response_Text><Auth_Reference>0010</Auth_Reference><Amount_Balance>3399.68</Amount_Balance><Expiration_Date>042139</Expiration_Date><Trans_Date_Time>042619140903</Trans_Date_Time><Card_Number>711806200498407</Card_Number><Transaction_ID>1</Transaction_ID></Response>"
  recorded_at: Fri, 26 Apr 2019 20:09:03 GMT
[...]
- request:
    method: post
    uri: http://httpbin.org/post
    body:
      encoding: UTF-8
      string: '{"key":"value"}'
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"args\": {}, \n  \"data\": \"{\\\"key\\\":\\\"value\\\"}\", \n
        \ \"files\": {}, \n  \"form\": {}, \n  \"headers\": {\n    \"Accept\": \"*/*\",
        \n    \"Cache-Control\": \"max-age=259200\", \n    \"Content-Length\": \"15\",
        \n    \"Content-Type\": \"application/json\", \n    \"Host\": \"httpbin.org\",
        \n    \"User-Agent\": \"excon/0.64.0\"\n  }, \n  \"json\": {\n    \"key\":
        \"value\"\n  }, \n  \"origin\": \"177.84.195.8, 35.229.113.175, 177.84.195.8\",
        \n  \"url\": \"https://httpbin.org/post\"\n}\n"
  recorded_at: Fri, 26 Apr 2019 20:09:06 GMT
[...]
- request:
    method: post
    uri: http://httpbin.org/post
    body:
      encoding: UTF-8
      string: '{"key":"value"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"args\": {}, \n  \"data\": \"{\\\"key\\\":\\\"value\\\"}\", \n
        \ \"files\": {}, \n  \"form\": {}, \n  \"headers\": {\n    \"Accept\": \"*/*\",
        \n    \"Content-Length\": \"15\", \n    \"Content-Type\": \"application/json\",
        \n    \"Host\": \"httpbin.org\", \n    \"User-Agent\": \"excon/0.64.0\"\n
        \ }, \n  \"json\": {\n    \"key\": \"value\"\n  }, \n  \"origin\": \"177.84.195.8,
        177.84.195.8\", \n  \"url\": \"https://httpbin.org/post\"\n}\n"
  recorded_at: Fri, 26 Apr 2019 20:09:21 GMT
recorded_with: VCR 4.0.0
