---
http_interactions:
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>1234521234</Card_Number>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>05</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<Response><Response_Code>01</Response_Code><Response_Text>INVALID CARD
        \ 12</Response_Text><Amount_Balance>0.00</Amount_Balance><Trans_Date_Time>042519081255</Trans_Date_Time><Transaction_ID>a0P1L00000E0OvQUAV~8302</Transaction_ID></Response>"
  recorded_at: Thu, 25 Apr 2019 14:12:55 GMT
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>711806200498407</Card_Number>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>05</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<Response><Response_Code>00</Response_Code><Response_Text>090559</Response_Text><Auth_Reference>0001</Auth_Reference><Amount_Balance>3400.68</Amount_Balance><Expiration_Date>022439</Expiration_Date><Trans_Date_Time>042519081256</Trans_Date_Time><Card_Number>711806200498407</Card_Number><Transaction_ID>100538</Transaction_ID></Response>"
  recorded_at: Thu, 25 Apr 2019 14:12:57 GMT
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>711806200498407</Card_Number>
          <Transaction_Amount>1</Transaction_Amount>
          <Transaction_ID>1</Transaction_ID>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>01</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<Response><Response_Code>00</Response_Code><Response_Text>555344</Response_Text><Auth_Reference>0002</Auth_Reference><Amount_Balance>3399.68</Amount_Balance><Expiration_Date>022439</Expiration_Date><Trans_Date_Time>042519081258</Trans_Date_Time><Card_Number>711806200498407</Card_Number><Transaction_ID>1</Transaction_ID></Response>"
  recorded_at: Thu, 25 Apr 2019 14:12:58 GMT
- request:
    method: post
    uri: http://httpbin.org/post
    body:
      encoding: UTF-8
      string: '{"key":"value"}'
    headers:
      Content-Type:
      - application/json
      Proxy-Connection:
      - Keep-Alive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"args\": {}, \n  \"data\": \"{\\\"key\\\":\\\"value\\\"}\", \n
        \ \"files\": {}, \n  \"form\": {}, \n  \"headers\": {\n    \"Cache-Control\":
        \"max-age=259200\", \n    \"Content-Length\": \"15\", \n    \"Content-Type\":
        \"application/json\", \n    \"Host\": \"httpbin.org\"\n  }, \n  \"json\":
        {\n    \"key\": \"value\"\n  }, \n  \"origin\": \"35.245.35.105, 35.245.35.105\",
        \n  \"url\": \"https://httpbin.org/post\"\n}\n"
  recorded_at: Thu, 25 Apr 2019 14:12:59 GMT
[...]
- request:
    method: post
    uri: http://httpbin.org/post
    body:
      encoding: UTF-8
      string: '{"key":"value"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"args\": {}, \n  \"data\": \"{\\\"key\\\":\\\"value\\\"}\", \n
        \ \"files\": {}, \n  \"form\": {}, \n  \"headers\": {\n    \"Content-Length\":
        \"15\", \n    \"Content-Type\": \"application/json\", \n    \"Host\": \"httpbin.org\"\n
        \ }, \n  \"json\": {\n    \"key\": \"value\"\n  }, \n  \"origin\": \"177.37.199.105,
        177.37.199.105\", \n  \"url\": \"https://httpbin.org/post\"\n}\n"
  recorded_at: Thu, 25 Apr 2019 14:15:26 GMT
recorded_with: VCR 4.0.0
