---
http_interactions:
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>711806200498407</Card_Number>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>05</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<Response><Response_Code>00</Response_Code><Response_Text>116979</Response_Text><Auth_Reference>0006</Auth_Reference><Amount_Balance>3400.68</Amount_Balance><Expiration_Date>091836</Expiration_Date><Trans_Date_Time>092316111433</Trans_Date_Time><Card_Number>711806200498407</Card_Number><Transaction_ID>160923131205N310069</Transaction_ID></Response>"
  recorded_at: Fri, 23 Sep 2016 17:14:44 GMT
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>711806200498407</Card_Number>
          <Transaction_Amount>1</Transaction_Amount>
          <Transaction_ID>1</Transaction_ID>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>01</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<Response><Response_Code>00</Response_Code><Response_Text>952309</Response_Text><Auth_Reference>0007</Auth_Reference><Amount_Balance>3399.68</Amount_Balance><Expiration_Date>091836</Expiration_Date><Trans_Date_Time>092316111436</Trans_Date_Time><Card_Number>711806200498407</Card_Number><Transaction_ID>1</Transaction_ID></Response>"
  recorded_at: Fri, 23 Sep 2016 17:14:47 GMT
[...]
- request:
    method: post
    uri: http://httpbin.org/post
    body:
      encoding: UTF-8
      string: '{"key":"value"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"args\": {}, \n  \"data\": \"{\\\"key\\\":\\\"value\\\"}\", \n
        \ \"files\": {}, \n  \"form\": {}, \n  \"headers\": {\n    \"Accept\": \"*/*;
        q=0.5, application/xml\", \n    \"Accept-Encoding\": \"gzip, deflate\", \n
        \   \"Content-Length\": \"15\", \n    \"Content-Type\": \"application/json\",
        \n    \"Host\": \"httpbin.org\", \n    \"User-Agent\": \"Ruby\"\n  }, \n  \"json\":
        {\n    \"key\": \"value\"\n  }, \n  \"origin\": \"184.75.193.46\", \n  \"url\":
        \"http://httpbin.org/post\"\n}\n"
  recorded_at: Fri, 23 Sep 2016 17:14:49 GMT
- request:
    method: post
    uri: https://www.smart-transactions.com/gateway_no_lrc.php
    body:
      encoding: UTF-8
      string: |
        <Request>
          <Card_Number>1234521234</Card_Number>
          <Merchant_Number>111111111111</Merchant_Number>
          <Terminal_ID>220</Terminal_ID>
          <Action_Code>05</Action_Code>
          <POS_Entry_Mode>M</POS_Entry_Mode>
        </Request>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<Response><Response_Code>01</Response_Code><Response_Text>INVALID CARD
        \ 12</Response_Text><Amount_Balance>0.00</Amount_Balance><Trans_Date_Time>051518083831</Trans_Date_Time><Transaction_ID>7220aae4cd1b2d43d4fc7bac</Transaction_ID></Response>"
  recorded_at: Tue, 15 May 2018 14:40:27 GMT
recorded_with: VCR 2.9.3
